name: Unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - src/**
  schedule:
    - cron: '35 22 * * 5'

env:
  # Path to the CMake build directory.
  build: '${{ github.workspace }}/build'
  config: 'Debug'

permissions:
  contents: read

jobs:
  test:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.6.*'
          setup-python: 'false'

      - name: Install Linux Dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install libxcb-icccm4 libxcb-xkb1 libxcb-icccm4 libxcb-image0 libxcb-render-util0 libxcb-randr0 libxcb-keysyms1 libxcb-xinerama0 libxcb-xinput-dev

      - name: Configure CMake
        run: cmake --build ${{ env.build }} -DSKY_TESTS=ON

      - name: Build CMake
        run: cmake --build ${{ env.build }} --verbose

      - name: Run Unit Tests
        run: cmake --build ${{ env.build }}/test --target test

      - name: Test
        id: runtests
        uses: GabrielBB/xvfb-action@v1
        with:
          working-directory: ${{ env.build }}/test
          run: cmake --build . --target test

      - name: Prepare Test Report
        if: ${{ always() && steps.runtests.outcome == 'failure'}}
        uses: ./ci/processtestresults
        with:
            qt-tests: build/TestResults
            junit-output: build/TestResults/junitresult.xml
            html-output: build/TestResults/testsreport.html

      - name: Publish Test Report
        if: ${{ always() && steps.runtests.outcome == 'failure'}}
        uses: actions/upload-artifact@v3
        with:
            name: TestReport
            path: |
              build/TestResults/*.xml
              build/TestResults/testsreport.html
